.card{
    display: flex;
    float:left;
    width: max-content;
    margin: 5px;
    justify-content: center;
}

.savedEntry {
    background-color: #1d1616;
    color: #4aaaa5;
    width: 100%;
    text-align: center;
}

.savedEntry:hover{
    background-color: #2a2424;
    border-right: 2px solid #4aaaa5;
    border-left: 2px solid #4aaaa5;
}
