html, body {
    height: 100%;
}

body{
    background-image: url(assets/img/prism.png);
    margin: 0px;
    display: flex;
    flex-direction: column; 
}

button:hover{
    opacity: .8;
}

button:active{
    background-color: indigo;
}


.container-md{
    flex: 1 0 auto; 
}

.mainContent{
    border: 2px solid #4aaaa5;
}

.card{
    display: flex;
    float:left;
    width: max-content;
    margin: 5px;
    justify-content: center;
}

.savedEntry {
    background-color: #1d1616;
    color: #4aaaa5;
    width: 100%;
    text-align: center;
}

.savedEntry:hover{
    background-color: #2a2424;
    border-right: 2px solid #4aaaa5;
    border-left: 2px solid #4aaaa5;
}

.savedEntry:active{
    background-color: indigo;
}

.inputStyle{
    background-color: #1d1616;
    color: #4aaaa5;
}

.inputStyle:focus{
    background-color: #1d1616;
    color: #4aaaa5;
}

.inputStyle::placeholder{
    color: #4aaaa5;
}

.navbar {
    justify-content: center;
    border-bottom: 4px solid #4aaaa5;
}

.mainColor {
    background-color: #1d1616;
}

.padding{
    padding:10px;
}

.topMargin{
    margin-top: 10px;
}

.botMargin{
    margin-bottom: 10px;
}

.line{
    display:block;
    height: 1px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #4aaaa5;
}

.cusBorder{
    border: 2px solid #4aaaa5;
}

.mainTextColor{
    color: #4aaaa5;
}

/* everything below styles the footer */
footer {
    border-top: 8px solid #4aaaa5;
    background-color: #1d1616;
    height: 50px;
    flex-shrink: 0;
    margin-top: auto;
}

#footerText {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-weight: bold;
    width: max-content;
    height: 15px;
    color: #4aaaa5;
}
